public class Film {
    public String Genre;
    public String Cinema_to_Watch;
    public String ReleaseYear;

    public void setGenre(String genre) {

        this.Genre = genre;
    }
    public String getGenre() {
        return this.Genre;}

 public void setCinema_to_Watch(String Cinema_to_Watch){
     String validCinema_to_Watch =Cinema_to_Watch.toLowerCase();
     if (validCinema_to_Watch.equals("Skalvija")|| validCinema_to_Watch.equals("Kinopasaka")){
         this.Cinema_to_Watch =Cinema_to_Watch;
     }else{
         this.Cinema_to_Watch="Forum Cinemas";
     }
 }

    public String getCinema_to_Watch() {
      return Cinema_to_Watch;
    }

